<div class="data">
    <h2>Data Table Row Details</h2>

    <div class="data-element">
        <ul>
            <li>
                <strong>ID:</strong>
                {{data?.id}}
            </li>
            <li>
                <strong>Date:</strong>
                {{data?.date ? (data?.date * 1000 | date) : ''}}
            </li>
            <li>
                <strong>Parent:</strong>
                {{data?.parent}}
            </li>
        </ul>
    </div>
</div>
