<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-content">
                <div class="table-data">
                    <h2>Data Table</h2>
                    <table class="table table-striped table-dark">
                        <thead>
                            <tr>
                                <th colspan="2">ID</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let element of dataState">
                                <td>{{element.id}}</td>
                                <td>
                                    <button
                                        (click)=onClick(element)
                                        type="button"
                                        class="btn btn-dark"
                                    >Show Details</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="dataDetails"
                     class="table-data">
                    <data-component [data]="dataDetails"></data-component>
                </div>
            </div>
        </div>
    </div>
</div>
